.wrapper {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #181818;

  .main {
    padding-top: 56px;
    display: flex;
    flex: 1;
    width: 100%;
    background: #181818;
  }
}